
    <h1>Job creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    <button type="submit"  class="btn btn-primary btn-sm">
        <i class="fa fa-dot-circle-o"></i> Submit
    </button>
    {{ form_end(form) }}
