<!-- Start Preloader Area -->
<div class="preloader-area">
    <div class="loader-box">
        <div class="loader"></div>
    </div>
</div>
<!-- End Preloader Area -->


<!-- Start Header Area -->
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center d-flex">
            <div id="logo">
                <a href="index.html"><img src="{{ asset("assets/img/logo.png") }}" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class=""><a class="active" href="{{ path('homepage') }}">Accueil</a></li>
                    {#<li><a href="portfolio.html">Portfolio</a></li>#}
                    {#<li class="menu-has-children"><a href="#">Pages</a>#}
                        {#<ul>#}
                            {#<li><a href="elements.html">Elements</a></li>#}
                            {#<li><a href="contact.html">Contact</a></li>#}
                            {#<li><a href="services.html">Service</a></li>#}
                            {#<li><a href="portfolio-details.html">Portfolio Details</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <li class="menu-has-children"><a href="{{ path('blog_index') }}">Portfolio</a>
                        {#<ul>#}
                            {#<li><a href="blog-home.html">Blog Home</a></li>#}
                            {#<li><a href="blog-single.html">Blog Single</a></li>#}
                        {#</ul>#}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- End Header Area -->

