<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active show" id="article-tab" data-toggle="tab" href="#newArticle" role="tab" aria-controls="newArticle" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="presentation-tab" data-toggle="tab" href="#newPresentation" role="tab" aria-controls="newPresentation" aria-selected="false">Menu 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="job-tab" data-toggle="tab" href="#newJob" role="tab" aria-controls="newJob" aria-selected="false">Menu 2</a>
    </li>
</ul>