
    <h1>Presentation creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <br>
    <button type="submit"  class="btn btn-primary btn-sm">
        <i class="fa fa-dot-circle-o"></i> Valider
    </button>
    {{ form_end(form) }}


